html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#emergencyMobileHeader{
    display: none;
}

#mobileHeader{
    display: none;
}

#mobileNavigation{
    display: none;
}

#header{
    background-color: darkgreen;
 
    margin-top: 0;
    display: flex;
    -webkit-user-select: none;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 0;
    
}

body{
    font-family: 'Nunito', sans-serif;
    width: 102%;
    margin-left: -1%;
    margin-right: -1%;
    margin-top: -0.3%;
    margin-bottom: -1%;
    
}

#emergencyHeader{
    color: white;
    background-color: #f08400;
    margin-bottom: 0;
    display: flex;
    z-index: 2;
    width: 100%;
    /*position: fixed;
    width: 100%;
    margin-left: -1%*/
}

#emergency{
    text-align: center;
    
    font-weight: bold;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-size: 1.5vw;
    margin-top: 0;
    margin-bottom: 0;
    width: 96%;
}

#close{
    margin-top: auto;
    margin-bottom: auto;
    width: 3%;
    font-size: 1.5vw;
    -webkit-user-select: none;
    transition: 0.5s;
    text-align: center;
}

#close:hover{
    cursor: pointer;
    transform: rotate(180deg);
    color: black;
    transition: 0.5s;
}

#call{
    color: white;
}

#headerLinkMain{
    color: white;
    font-size: 2.75vw;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0.2%;
    font-weight: bold;
}

#headerLinkSub{
    color: white;
    margin-top: 0;
    font-size: 1.15vw;
    font-style: italic;
    opacity: 0.8;
    margin-bottom: 0;

}

#headerLink{
    color: white;
    text-decoration: none;
}

#bottomHeaderLinkMain{
    color: white;
    font-size: 3.25vw;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0.2%;
    font-weight: bold;
}

#bottomHeaderLinkSub{
    color: white;
    margin-top: 0;
    font-size: 1.75vw;
    font-style: italic;
    opacity: 0.8;
    margin-bottom: 0;

}

#bottomHeaderLink{
    color: white;
    text-decoration: none;
}

#bottomHeaderLinkHolder{
 
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

#headerLinkHolder:hover{
    color: gray;
}

#headerLinkHolder{
    margin-left: 5vw;
    width: 21vw;
    margin-top: auto;
    margin-bottom: auto;
}

.topIndividualLink{

    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.8vw;
}

.topIndividualLinkHolder{
    background-color: darkgreen;
    width: 33%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-decoration: none;
    color: white;
    transition: 0.7s;
}

.topIndividualLinkHolder:hover{
    background-color: lightgreen;
    transition: 0.7s;
}

#topLinks{
    
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 31vw;
    width: 40vw;
    display: flex;
}

#mission{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0;
    font-size: 2.5vw;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 0;
    line-height: 1.4;

}

#missionHolder{
    
    background-image: url('https://images.pexels.com/photos/7667727/pexels-photo-7667727.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-position-y: center;

    background-size: 110%;
    margin-top: 0;
    padding: 2%;
    margin-bottom: 0;
}

#missionLinkHolder{
    text-align: center;
    margin-top: 2%;
    padding-bottom: 6%;
    
}

#missionLink:hover{
    background-color: darkgreen;
    transition: 0.3s;
}

#missionLink{
    color: white;
    padding: 2%;
    border: 2px solid white;
    font-size: 1.7vw;
    border-radius: 10px;
    transition: 0.3s;
}

#importanceHolder{
    margin-top: 0;
    background-color: #1c803c;

    

}

.importance{
    margin-top: 0;
    color: white;
    font-size: 3vw;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 3%;
    padding-bottom: 1%;
    text-decoration: underline;
   
}

.importance2{
    margin-top: 0;
    color: black;
    font-size: 3vw;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 3%;
    text-decoration: underline;
   
}

#importanceSubText{
    font-size: 1.8vw;
    opacity: 0.85;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.5;
}

#importanceSubText2{
    width: 65%;
    opacity: 0.85;
    color: white;
    font-size: 1.8vw;
    margin-right: 5%;
    margin-top: 0;
    line-height: 1.5;
}

#brainImgHolder{
    width: 35%;
    height: auto;
    margin-bottom: auto;
    margin-top: auto;
    
}

#brainImg{
    width: 100%;
}

#brainImgText{
    color: white;
    opacity: 0.6; 
    font-size: 1.5vw;
    font-style:italic;
    text-align: center;
}

#importanceContentHolder{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

#readmore{
    padding: 2%;
    color: white;
    font-size: 1.7vw;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.7s;
}

#readArticleHolder{
    text-align: center;
    padding-bottom: 5%;
    padding-top: 4%;
}

#readAllArticles{
    padding: 2%;

    font-size: 1.7vw;
  
    border-radius: 10px;
    transition: 0.7s;
    color: green;
    border: 2px solid green;
}

#readAllArticlesHolder{
    text-align: center;
    padding-bottom: 5%;
    padding-top: 4%;

}

#readmore:hover{
    background-color: #999999;
    transition: 0.7s;
}

#readAllArticles:hover{
    background-color: gray;
    color: white;
    transition: 0.7s;
    
}

a{
    color: white;
}

#entireStatHolder{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    padding-bottom: 5%;
}

#entireStatHolder2{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    padding-bottom: 5%;
    margin-top: 3%;
    display: none;
}

#statsHolder{
    /*background-color: #009155;*/
    background-color: #d9ffe2; 
}

.numberHolder{
    height: 20vw;
    width: 20vw;
    border: 10px dotted gray;
    border-style: double;
    border-radius: 50%;
    position: relative;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 10%;
    
}

.numbers{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: green;
    font-size: 3vw;
    text-align: center;
    -webkit-user-select: none;
    font-weight: bold;
}

.subtext{
    font-size: 1.5vw;
    text-align: center;
    color: black;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

}

.individualStatHolder{
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 28.3%;
    
    justify-content: center;
}

#seeMoreStats{
    color: black;
    text-align: center;
    font-size: 2vw;
    padding: 2%;
 
    -webkit-user-select: none;
    transition: 0.5s;
}

#seeMoreStats:hover{
 
    color: green;

    cursor: pointer;
    transition: 0.7s;
}

#addedLink:hover{
    color: green;
    transition: 0.7s;
}

#addedLink{
    padding-top: 2%;
    padding-bottom: 2%;
    transition: 0.7s;
    color: black;
}

#featuredArticles{
    background-color: whitesmoke;
    padding-bottom: 2%;
}

.indivFeaturedPages{
    margin-left: 15%;
    margin-right: 15%;
    border-left: 4px solid darkgreen;
    
    margin-top: 3%;
    margin-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.featuredPagesLink{
    color: darkgreen;
    font-size: 175%;
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
}

.featuredPagesLink:hover{
    color: green;
    text-decoration: underline;
    transition: 0.5s;
    
}

.featuredDescription{
    font-size: 110%;
    opacity: 0.8;
}


#footer{
    background-color: darkgreen;
}

#footerMissionStatement{
    color: white;
    font-size: 125%;
    opacity: 0.8;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
}

#bottomNavigationLinkHolders{
    display: flex;
    margin-top: 4%;
    padding-bottom: 4%;
}

#contactDiv{
    margin-left: 15vw;
    width: 30%;
    margin-right: 2.5%;
    border-right: 1px solid gray;
    
}

#quickLinkDiv{
    margin-left: 2.5%;

    margin-right: 10%;
    margin-top: 0;
}

#contact{
    font-size: 2.25vw;
    color: white;
    text-decoration: underline;
    padding-left: 5%;
    border-left: 2px solid white;
    margin-top: 0;
    padding-top: 0;
    opacity: 0.85;
}

#quickLinks{
    font-size: 2.25vw;
    color: white;
    text-decoration: underline;
    padding-left: 3%;
    border-left: 2px solid white;
    margin-top: 0;
    padding-top: 0;
    opacity: 0.85;
}

#explore{
    color: black;
}
.subTitle{
    font-size: 2vw;
    opacity: 0.9;
    text-align: center;
    margin-top: 0;
    margin-bottom: 3%;
}

#contactInfo{
    font-size: 1.25vw;
    color: white;
    opacity: 0.7;
}

.bottomQuickLinks{
    opacity: 0.7;
}

#copyrightDiv{
    font-size: 125%;
    background-color: grey;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

#backToTop{
    cursor: pointer;
}

@media only screen and (orientation: portrait){
    #emergencyMobileHeader{
        display: block;
        background-color: #f08400;
        font-weight: bold;
        color: white;
        display: flex;
        font-size: 3.5vw; 
        position: relative;
        z-index: 2;
        margin-top: 0;
        position: sticky;
    }

    #emergencyMobile{
        margin-left: 3vw;
        width: 91%;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    #closeMobile{
        margin-top: 1%;
        margin-bottom: 1%;
    }


    #menu{
        padding-left: 4vw;
        color: white;
        font-size: 6vw;
        padding-right: 5vw;
        margin-bottom: auto;
        margin-top: auto;
        padding-left: 5vw;
        transition: 0.5s;
        -webkit-user-select: none;
    }

    #menu:hover{
        color: skyblue;
        cursor: pointer;
        transition: 0.5s;
    }

    #mobileHeader{
        display: block;
        background-color: green;
        display: flex;
        position: relative;
    }

    #headerLinkHolderMobile{
        padding-top: 2%;
        padding-bottom: 2%;
       
    }

    #headerLinkMainMobile{
        color: white;
        font-size: 6vw;

        margin-top: 0;
        margin-bottom: 0.2%;
        font-weight: bold;
    }
    
    #headerLinkSubMobile{
        color: white;
        margin-top: 0;
        font-size: 3.5vw;
        font-style: italic;
        opacity: 0.8;
        margin-bottom: 0;
    }

    #headerLinkMobile{
        text-decoration: none;
        width: 75%;
        color: white;
    }

    #emergencyHeader{
        display: none;
    }

    #header{
        display: none;
    }

    #mobileNavigation{
        display: none;
        background-color: green;
        position: absolute;
        width: 35%;
    }

    .topIndividualLinkHolder{
        background-color: green;
        color: black;
        margin-top: 0;
        margin-bottom: 0;
    }

    .topIndividualLink{
        font-size: 5vw;
        padding-top: 1.75%;
        padding-bottom: 1.75%;
        margin-top: 0;
        margin-bottom: 0;
     
        text-align: left;
        padding-left: 6vw;
    }

    .topIndividualLink:hover{
        background-color: #135c07;
        font-weight: bold;
        text-decoration: underline;
    }

    /*header end*/

    /*footer begin*/
    #bottomNavigationLinkHolders{
        flex-direction: column;
    }

    #contactDiv{
        margin-left: 10%;
        margin-right: 10%;
        width:80%;
        border: none;
        padding: 0;
    }

    #quickLinksDiv{
        margin-left: 10%;
        margin-right: 10%;
        width:80%;
        border: none;
        padding: 0;
        margin-top: 10%;
        padding-bottom: 4%;
    }

    .bottomQuickLinks{
        display: inline-block;
        font-size: 3.5vw;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    #contact{
        font-size: 5.75vw;
        margin-bottom: 3%;
    }

    #contactInfo{
        font-size: 4vw;
    }

    #quickLinks{
        font-size: 5.75vw;
        margin-bottom: 3%;
    }

    #bottomHeaderLinkMain{
        font-size: 7vw;
    }

    #bottomHeaderLinkSub{
        font-size: 4vw;
    }

    #footerMissionStatement{
        font-size: 4vw;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 3%;
        margin-bottom: 6%;
    }

    #bottomHeaderLinkHolder{
        padding-top: 4%;
    }

    #copyrightDiv{
        color: white;
        font-size: 4vw;
    }

    /*end footer*/

    #missionHolder{
        background-size: 140%;
        background-position: center;
    }

    #mission{
        font-size: 5.15vw;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #missionLink, #readmore{
        font-size: 4.5vw;
        padding: 4%;
    }

    #missionLinkHolder{
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .importance{
        font-size: 5vw;
        padding-top: 5%;
    }

    #importanceSubText, #importanceSubText2{
        font-size: 4vw;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        color: white;
        
    }

    #importanceContentHolder{
        flex-direction: column-reverse;
        width: 100%;
        margin-left: 0;
        color: black;
    }

    #brainImgHolder{
        width: 100%;
        margin-top: 6%;
        margin-bottom: 5%;
    }

    #brainImgText{
        font-size: 3.5vw;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        color: white;
    }

    #brainImg{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    #readmore{
        font-size: 4vw;
        padding: 4%;
    }

    #readArticleHolder{
        margin-top: 5%;
        padding-bottom: 15%;
    }    

    #entireStatHolder, #entireStatHolder2{
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        padding: 0;
        margin-top: 0;
    }

    .individualStatHolder{
        display: flex;
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 95%;
        margin-bottom: 7.5%;
    }

    .subtext{
        width: 50%;
        text-align: left;
        font-size: 3.1vw;
        margin-top: auto;
        margin-bottom: auto;
    }

    .numbers{
        font-size: 4vw;
        
    }

    .numberHolder{
        width: 30vw;
        height: 30vw;
        margin-bottom: 0;
    }

    #seeMoreStats{
        font-size: 4vw;
    }

    .importance2{
        margin-top: 0;
        color: black;
        font-size: 5.5vw;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        padding-top: 5%;
        text-decoration: underline;
       
    }

    #featuredArticlesHolder{
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        width: 100%;
    }

    .indivFeaturedPages{
        width: 85%;
        margin-left:5%;
        margin-right: 10%;
        border: 2px solid green;
        justify-content: center;
    }

    .featuredPagesLink{
        display: inline-block;
        font-size: 4.5vw;
        padding-left: 2%;
        margin-top: 1%;
    }

    .featuredDescription{
        font-size: 3.5vw;
        padding-left: 2%;
    }

    .featuredTime{
        font-size: 3vw;
        padding-left: 2%;
    }

    #readAllArticles{
        font-size: 4.5vw;
        padding: 4%;
        margin: 0;
    }

    #readAllArticlesHolder{
        margin-top: 5%;
        padding-bottom: 10%;
    }

    .subTitle{
        font-size: 4vw;
        opacity: 0.9;
        text-align: center;
        margin-top: 0;
        margin-bottom: 3%;
        margin-left: 10%;
        margin-right: 10%;
    }

}