#title{
    color: black;
    font-size: 225%;
    text-align: center;
    font-weight: bold;

}

.container{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
 }
 
 .graphText{
    width: 20%;
    padding: 1%;
    padding-bottom: 0;
    padding-top: 0;
    /*border-right: 1px solid black;*/
    text-align: right;
    color: darkslategrey;
    font-style: italic;
    -webkit-user-select: none;
    font-size: 130%;
    font-weight: bold;
    color: green;
    margin-top: auto;
    margin-bottom: auto;
    /*font-family: 'newsreader', serif;*/
 }
 
 .graphBars{
    margin-left: 1.25%;
    max-width: 65%;
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    font-size: 125%;
    transition: 0.25s;
    text-align: right;
    color: white;
    /*font-family: 'newsreader', serif;*/
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 1.5%;
    -webkit-user-select: none;
    margin-top: 0.2%;
    margin-bottom: 0.2%;
    
 }
  
 .graphBars:hover{
    
    transition: 0.25s;
    cursor: pointer;
 }
 
 #graphScale{
    border-top: 6px solid black;
    margin-top: 0.3%;
    margin-left: 23.2%;
    width: 65%;
    display: flex;
    
 }
 
 .percentDiv{
    border-left: 4px solid black;
    border-top: 1px solid black;
    font-size: 120%;
    padding-left: 0.5%;
    padding-top: 0.5%;
    margin-bottom: 2%;
    -webkit-user-select: none;
    font-weight: bold;
    /*font-family: 'newsreader', serif;*/
    /*titanic: float;*/
 }

 #graph1Selection{
   display: flex;
   flex-direction: row;
   justify-content: center;
}

#graph1Left{
   display: flex;
   width: 40%;
   justify-content: center;
}

#graph1Right{
   display: flex;
   width: 40%;
   justify-content: center;
}

#selectGrade, #selectPrevalence{
   font-size: 1.9vw;
   margin-top: 8%;
   width: auto;
}

#gradeSelection, #prevalenceSelection{
   width: 50%;
   margin-top: 6%;
}

hr{
   margin-left: 30%;
   margin-right: 30%;
   margin-top: 4%;
   margin-bottom: 4%;
}


.grade, .prevalenceOfUse{
   font-size: 1.6vw;
   background-color: white;
   border: 1px solid black;
   width: 75%;
   text-align: center;
   margin-left: 5%;
   -webkit-user-select: none;
   transition: 0.25s;
   margin-top: 0;
   margin-bottom: 0;
   padding-top: 2%;
   padding-bottom: 2%;
}

.graphTitle{
   font-size: 190%;
   border-left: 4px solid green;
   width: 70%;
   margin-left: 12%;
   padding-left: 2%;
   padding-top: 0.5%;
   padding-bottom: 0.5%;
   font-weight: bold;
}

#statistics{
   background-color: whitesmoke;
   padding-top: 0.1%;
}

#selectGrade, #gradeSelection, #selectPrevalence, #prevalenceSelection{
   margin-top: 5%;
   margin-bottom: 10%;
}

.graphSubTitle{
   margin-left: 12%;
   font-size: 135%;
   margin-right: 12%;
}

.citations{
   color: blue;
}

.grade:hover{
   background-color: orange;
   color: white;
   cursor: pointer;
   transition: 0.25s;
}

.prevalenceOfUse:hover{
   background-color: skyblue;
   color: white;
   transition: 0.25s;
   cursor: pointer;
}


.outsideText{
   margin-left: 0.75%;

   font-size: 125%;

   color: black;
   /*font-family: 'newsreader', serif;*/
   padding-top: 0.5%;
   padding-bottom: 0.5%;
 
   margin-top: 0.2%;
   margin-bottom: 0.2%;
   
}
